        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f4f4f4;
            color: #333;
        }

        .o-que-e{
          margin-top: 150px;
        }
        header{
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          background-color: #3e89d4;
          color: #fff;
          padding: 20px 0;
          z-index: 1000;
        }

        h1 {
            text-align: center;
            color: white;
        }

        h2 {
            color: #555;
        }

        p {
            line-height: 1.6;
        }

        code {
            background-color: #484444d3;
            padding: 5px;
            border-radius: 5px;
            font-size: 1.1em;
            display: block;
            margin: 10px 0;
        }

        pre {
            background-color: #3e89d4;
            color: white;
            padding: 15px;
            border-radius: 5px;
            overflow-x: auto;
        }
        
        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px; 
            padding: 0;
            margin: 0;
          }
          
          nav a {
            text-decoration: none;
            color: white;
            padding: 5px 10px;
            margin: 0; 
            white-space: nowrap; 
            transition: color 0.3s ease, background-color 0.3s ease;
          }
          
          nav a:hover {
            color: #3e89d4; /* Cor do texto ao passar o mouse */
            background-color: white; /* Cor de fundo ao passar o mouse */
            border-radius: 5px;
          }