* {
  margin: 0;
  box-sizing: border-box;
}
@font-face {
    font-family: 'poppins';
    src: url(/fontes/Poppins-Regular.ttf);
}



header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  height: 110px;
  color: #fff;
  padding: 20px 0;
  z-index: 1000;
  border-bottom: 4px solid #1EBD55;
}

header h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}
span {
  color: #1ebc55;
}






.filterizr-page {
  padding: 20px;
  padding-top: 120px;
  padding-bottom: 80px;
  background-color: #000000;
  color: white;
  font-family: 'poppins';

}
hr{background-color: #1EBD55;}

.what {
  font-size: 28px;
  color: white;
  margin-bottom: 20px;
  
}
a{text-decoration: none;}

nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }

nav a{
    text-decoration: none;
    margin: 5px;
    color: #1EBD55;
}
.filterizr{
    background-color: #1EBD55;
    color: #000000;
    padding: 2px;
    border-radius: 2px;
}

.container{
  background-color: #222625;
  padding: 20px;
}





